 <%= render 'lists/nav' %>
<div class="d-flex justify-content-center">
<%= form_for @list do |f| %>
<br> 
<%= f.label "Item" %>
<br> 
    <%= f.text_field :tiltle%>
    <small class="form-text text-muted"> Add what you need </small>  
<br> 
<%= f.label "description" %>
<br> 
	<%= f.text_field  :description %>
<br>
<br> 
    <%= f.label "Completed" %>
    <%=  f.check_box :Completed%>
<br>
<br>
	<%= f.submit "Update my list", :class => "button" %>
<% end %>
</div>
<div>
        <%= image_tag 'list.gif' , :class => "card-img-top"%>
    </div>
