 <%= render 'lists/nav' %>

<h1> new shopping list </h1>
<div class="d-flex justify-content-center">
<%= form_for @list do |f| %>
<br> 
<%= f.label "Item" %>
    <%= f.text_field :tiltle%>
    <small class="form-text text-muted"> Add what you need </small>  
<br> 
<%= f.label "description" %>
	<%= f.text_field  :description %>
<br>
<br> 
    <%= f.label "Completed" %>
    <%=  f.check_box :Completed%>
<br>
	<%= f.submit "Add to my list", :class => "button" %>
<% end %>
</div>



