<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to fridge.name, fridge , :class => "navbar-brand"%>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'ITEMS', fridge_items_path(fridge) , :class => "nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to 'ADD ITEM', new_fridge_item_path(fridge) , :class => "nav-link"%>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          USERS
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <%= link_to 'ADD USER', "/fridges/#{@fridge.id}/add_user", :class => "nav-link"	 %>
      </li>
    </ul>
    <%= link_to 'EMPTY FRIDGE', "/fridges/#{@fridge.id}/empty", :class => "btn btn-outline-danger my-2 my-sm-0 text-white"	 %>
  </div>
</nav>