<!--<h2><%= current_user.email %>'s Fridges</h2>-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">FRIDGES</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'Add Fridge', new_fridge_path %>
      </li>
    </ul>
  </div>
</nav>

<table class="table">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Delete</th>
    </tr>
    <tbody>
        
        <% current_user.fridges.each do |fridge| %>
            <tr>
                <th scope="row"><%= fridge.id %></th>
                <td><%= link_to fridge.name, fridge_path(fridge) %></td>        
                <td><%= link_to 'Delete', fridge_path(fridge), method: :delete %></td> 
            </tr>   
        <% end %>
        
    </tbody>
</table>

<%= link_to 'Back To Home Page', fridges_home_path %>


