<%= form_with(model: [ @fridge, @fridge.items.build ], local: true) do |f| %>

    <%= f.label 'Items' %>
    <%= f.collection_select(:option_ids, Option.all, :id, :name) %>

    
    <p>
        <%= f.label :exp_date, "Exp date" %>
        <%= f.date_field :exp_date %>
    </p>

    <p>
        <%= f.label :stock, "stock" %>
        <%= f.text_field :stock %>
    </p> 
    
    <p>
        <%= f.submit 'Create' %>
    </p>
<% end %>