<div class="d-flex justify-content-center">

    <%= form_with(model: [ @fridge, @fridge.items.build ], local: true) do |f|%>

        <%= f.label 'Items:'%>
        <%= f.collection_select(:option_ids, Option.all, :id, :name, {}, { :class => 'form-control' })%>

        <p>
            <%= f.label :exp_date, "Exp date", :for=>"validationServer01" %>
            <br>
            <%= f.date_field :exp_date, :class => 'form-control is-valid', :id => "validationServer01"%>
        </p>

        <p>
            <%= f.label :stock, "stock" %>
            <br>
            <%= f.text_field :stock, :class => 'form-control is-valid'%>
        </p> 
        
        <p>
            <%= f.submit 'Add', :class => "button" %>
        </p>
    <% end %>

</div>
