<%= render partial: "fridges/nav", locals: {fridge: @fridge} %>

<div class="fridge">
    <div class= "w">
        <% i = 0 %>
        <% j= 9 %>
        <% @fridge.items.each do |item| %>
            <% if j > 0 %>
                <% if i%3==0 %>
                    <br>
                <% end %>
                <%# link_to (image_tag "https://img.icons8.com/bubbles/50/000000/multi-edit.png", :class => 'item-o-left'), edit_fridge_item_path(@fridge, item)%>
                <%= link_to (image_tag item.options.first.image, :class => 'item-img'), fridge_item_path(@fridge, item)%>
                <%# link_to (image_tag "https://img.icons8.com/bubbles/50/000000/close-window.png" , :class => 'item-o-right'), edit_fridge_item_path(@fridge, item)%>
                

                <% i = i +1 %>
                <% j = j -1 %>
            <% end %>

            
        <% end %>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        <% @fridge.items.each do |item| %>
            <tr>
                <% item.options.each do |o|%>
                    <th scope="row"><%= item.id %></th>
                    <td><%= link_to o.name, fridge_item_path(@fridge, item)%></td>
                    <td><%= link_to 'Edit', edit_fridge_item_path(@fridge, item) %></td>
                    <td><%= link_to 'Delete', fridge_item_path(@fridge, item), method: :delete %></td>
                <% end %>
            </tr> 
        <% end %>  
    </tbody>
</table>