<h1>Item show</h1>

<p><%= @item.name %></p>
<p><%= @item.exp_date %></p>
<p><%= @item.stock %></p>
<p><%= @item.category %></p>

<%= link_to 'Back to Fridge', :back %>

<img src="<%= @item.image %>" alt="">