<h1>Item show</h1>

<p><%= @item.options.first.name %></p>
<p><%= @item.exp_date %></p>
<p><%= @item.stock %></p>
<p><%= @item.options.first.category %></p>

<%= link_to 'Back to Fridge', fridge_path(@fridge) %>

<img src="<%= @item.options.first.image %>" alt="">