
<p class="navbar navbar-expand-lg">
  <% if user_signed_in? %>
    <!--<strong class="logged-in-as"><%= current_user.email %></strong>-->
    <%= link_to (image_tag 'fridge.png'), fridges_path, :class => 'navbar-link'%> 
    <%= link_to (image_tag 'list.png'), lists_path, :class => 'navbar-link'%>
    <strong><%= current_user.email %></strong>
    
    <%= link_to (image_tag 'profile.png'), edit_user_registration_path, :class => 'navbar-link-p' %>
    <%= link_to (image_tag 'logout.png'), destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
  <%# else %>
    <%# link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
    <%# link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
  <% end %>
</p>
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>